.applIcon{
    margin-right: 0.8vw;
    margin-left: 1vw;
}

.applCont{
    margin-top: 2.7vh;
    background-color: lightgrey;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    min-height: 67vh;
    max-height: 67vh;
    min-width: 80vw;
    max-width: 80vw;
}

.applInnerCont{
    margin-top: 2.7vh;
    background-color: lightgrey;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    align-content: center;
    min-height: 67vh;
    max-height: 67vh;
    min-width: 38vw;
    max-width: 38vw;
}

.standardTxtInput{
    border-radius: 15px;
    padding: auto;
    margin: 1vh;
    padding-top: 1vh;
    max-width: 67vw;
}

.NewApplCont{
    margin-top: 2.7vh;
    background-color: lightgrey;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    min-height: fit-content;
    max-height: fit-content;
    padding-bottom: 2vh;
    min-width: 75vw;
    max-width: 75vw;
}