.table-coordinator{
    width: 30%;
  }
  
  .table-departmant{
    width: 70%;
  }
  
  .table-title{
    background-color: #DBFCFF;
  }


  header h3{
    background-color: #D3D3D3;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
  }

  header h3 span{
    padding-left: 15px;
  }

.main-table{
    overflow-y: scroll;
    max-height: 60vh;
}