.standardTxtInput{
    border-radius: 5px;
    padding: auto;
    max-width: 30%;
    min-width: 40%;

}

.customBtn{
    border-radius: 15px;
    margin-left: 15vh;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.editProfileCont{
    background-color: lightgrey;
    border-radius: 15px;
    overflow-y: scroll;
    height: fit-content;
}

.profileOVIcon{
    margin-right: 7px;
    margin-left: 1.5vh;
}

.pfp2{
    width: 60%;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .pfpCol2{
    max-width: 35%;
  }