.standardTxtInput{
    border-radius: 5px;
    padding: auto;
    margin: 10px;
    margin-bottom: 0px;
}

.customBtn{
    border-radius: 5px;
    padding: auto;
    margin: 10px;
    align-self: center;
    margin-top: 20px;
}

.editProfileCont{
    background-color: lightgrey;
    border-radius: 5px;
}

.profileOVIcon{
    margin-right: 7px;
}