.sncIcon{
    margin-right: 0.8vw;
    margin-left: 1vw;
}

.sncCont{
    margin-top: 2.7vh;
    background-color: lightgrey;
    border-radius: 15px;
    overflow-y: scroll;
    align-items: center;
    align-content: center;
    min-height: 67vh;
    max-height: 67vh;
    min-width: 80vw;
    max-width: 80vw;
}

.header-table{
    background-color: #dbfcff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}