main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .table-div{
    margin: 30px;
  }

  .test-table{
    border-radius: 100px;
  }
  .head-table{
    background-color: aqua;
  }

.newapp-col{
max-width: fit-content;
}