main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .table-div{
    margin: 30px;
  }

  .test-table{
    border-radius: 100px;
  }
  .head-table{
    background-color: aqua;
  }